body.Admin-Imoveis-edit {
  .gallery {
    .gallery-menu {
      display: none;
    }

    .picture {
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 200px;
      position: relative;

      input {
        opacity: 0;
      }

      .add {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;

        &:hover {
          .fas {
            color: $gray-500;
          }
        }

        .fas {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $gray-400;
        }
      }

      .loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;

        &:hover {
          .fas {
            color: $gray-500;
          }
        }

        .wrapper {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .fas {
          color: $gray-400;
        }
      }

    }

    &:hover {
      .picture {
        position: relative;
      }

      .gallery-menu {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 2px;
        }

        display: block;
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        .fas, .far {
          cursor: pointer;

          &:hover {
            text-shadow: 1px 1px 1px #000000;
          }
        }

        .fa-trash-alt {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 15%;
        }

        .fa-link {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 15%;
        }

        .fa-arrow-left {
          position: absolute;
          left: 15%;
          transform: translateY(-50%);
          top: 50%;
        }

        .fa-arrow-right {
          position: absolute;
          right: 15%;
          transform: translateY(-50%);
          top: 50%;
        }

        .fa-circle {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: rgba(255, 255, 255, 0.5);
          cursor: default;

          &:hover {
            text-shadow: none;
          }
        }

      }
    }

  }
}