body.comprar,
body.alugar,
body.investir,
body.imoveis {
  background: url("../img/top-bg.png") top center no-repeat;
}

body.imovel {
  background-position: top center;
  background-repeat: no-repeat;

  .fotos {

    .foto {
      height: 520px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .galeria {

      .col-2 {
        padding: 0 5px;

        &:first-child {
          padding-left: 15px;
        }

        &:last-child {
          padding-right: 15px;
        }
      }

      .foto-galeria {
        height: 120px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
      }

    }

  }

}

#imoveis-grid {
  .picture {
    position: relative;

    .ver-imovel {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .lancamento {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0.1rem 0.4rem 0.2rem;
    }
  }

  .titulo {
    vertical-align: middle;

    .link-youtube {
      vertical-align: middle;
      font-size: 1.3rem;
      margin-left: 0.3rem;
    }


  }
}