body.faq {
  background-position: top center;
  background-repeat: no-repeat;

  .descricao {
    transition: all 0.5s;
  }

  .fa-stack {
    font-size: 0.8em;
  }

  .ancora {
    font-weight: bold;
  }

}
