body,
body.home {
    background-color: #f5f5f5 !important;
    .container {
        width: 1366px !important;
        min-width: calc(100% - 40px);
        max-width: calc(100% - 20px);
    }
}

.shadow-border-bottom {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.34);
    border-bottom: 3px solid $primary;
}

.border-bottom-primary {
    border-bottom: 3px solid $primary;
}

img[src=""] {
    display: none;
}

.form-control.code {
    background-image: linear-gradient(135deg, #e8e8e8 25%, #ebebeb 25%, #ebebeb 50%, #e8e8e8 50%, #e8e8e8 75%, #ebebeb 75%, #ebebeb 100%);
    background-size: 14.14px 14.14px;
    font-family: monospace;
    font-size: 1.1rem;
}

.form-group.is-invalid {
    color: $danger !important;
    * {
        color: $danger !important;
    }
    .custom-radio>label:before {
        border-color: $danger !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.text-decoration-underline {
    text-decoration: underline;
}